header {
  height: 100vh;
  background-image: url(https://picsum.photos/id/184/2000/1500);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 1rem;
  max-width: 18ch;
  text-align: center;
  color: #fff;
  
}

