/**** element selectors ****/

/* hero section container */
header {
  background-image: url(https://picsum.photos/id/184/2000/1500);
  background-position: center;
  background-size: cover;
  
  height: 100vh;
  padding-bottom: 5rem;
}

/* hero title */
h1 {
  margin: 0 auto;
  max-width: 18ch;
  padding: 1rem;
  
  color: #fff;
  filter: drop-shadow(0 0 1rem hsl(224, 95%, 78%));
}

/* morning and evening card content containers */
article {
  background-color: transparent;
  
  margin: 0 1rem 1rem 1rem;
  max-width: 20ch;
  padding: 1rem;
  
  border: 3px solid rgb(255, 255, 255, 0.1);
  border-radius: 1rem;
}

/* placeholder text to show where hero section ends */
section h2 {
  margin : 2rem auto;
  max-width: 20ch;

  color: #000;
}

section p {
  margin: auto;
  max-width: 70ch;
  padding: 1rem;
  text-align: left;
  color: #000;
}

/**** class selectors ****/

/* flex box to configure card layout on screen */
.cards-flex-container {
  display: flex;
  padding: 1rem;
  
  align-items: center;
  justify-content: center;
}

.card-image {
  display: block;
  margin: auto;
  width: 30%;
}

.card-text {
  margin: 1rem 0;
}

/* cta button for morning card */
.card-title-day {
  margin: 0.5rem 0;
  padding: 5px;
  
  border: 2px solid hsl(48, 100%, 50%);
  border-radius: 1rem;
  
  color: hsl(48, 100%, 50%);
}

/* cta button for evening card */
.card-title-night {
  margin: 0.5rem 0;
  padding: 5px;
 
  border: 2px solid hsl(240, 100%, 83%);
  border-radius: 1rem;
 
  color: hsl(240, 100%, 83%);
}