/* hover and link effects */
article:hover {
  transform: scale(1.1);
}

article a:active {
  color: #fff;
}

.card-title-day:hover {
  background-color: hsl(0, 0%, 0%);
  filter: drop-shadow(0 0 5px hsl(224, 95%, 78%));
}

.card-title-night:hover {
  background-color: hsl(0, 0%, 0%);
  filter: drop-shadow(0 0 5px hsl(224, 95%, 78%));
}

/**** Media Queries ****/

/* sets desktop heading size */
@media screen and (width > 50rem) {
  h1 {
    font-size: 70px;
  }
}

/* media query to prevent high frequency area overlap with text */
@media screen and (width < 673px) {
  article {
    margin: 0 0.5rem 0 0.5rem;
  }

  h2 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
  
  .card-image {
    display: none;
  }

  .cards-flex-container {
    padding-top: 0;
  }
  
  .card-text {
    margin: 0;
  }
}