/* text font */
body {
  font-family: "Rubik", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  
  color: #fff;
}

/* display font */
h1, h2 {
  font-family: "Michroma", Arial, Helvetica, sans-serif;
  font-size: 60px;
}

/* override size, keep font family */
h2 {
  font-size: 22px;
}